<!-- All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
<ul><%= link_to "#{job.title}", company_job_path(company, job) %></ul>
<% end %>

<h4> Company Contacts </h4>
<% @company.contacts.each do |contact| %>
 Name: <%= contact.full_name %>
 Position: <%= contact.position %>
 Email: <% = contact.email %><br>
 <%end%>

 <h5> Add New Contact </h5>
 <%= form_for [@company, @company.contact] do |f| %>
   <%= f.label :full_name %>
   <%= f.text_field :full_name %>

   <%= f.label :position %>
   <%= f.text_field :position %>

   <%= f.label :email %>
   <%= f.number_field :email %>

   <%= f.submit %>
 <% end %> -->
